# Visual Studio
.vs/
bin/
obj/

# SSIS user settings
*.dtproj.user

# Logs
*.log
UpgradeLog.htm

# Otros
*.bat

# Binarios compilados SSIS
bin/
obj/
*.ispac

# Excepción temporal para entrega
!deployment/*.ispac

