# Visual Studio
.vs/
bin/
obj/

# SSIS user settings
*.dtproj.user

# Logs
*.log
UpgradeLog.htm

# Otros
*.bat

# Binarios compilados SSIS
*.ispac

# Excepcion temporal para entrega
!deployment/*.ispac